body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#splash {
  padding-top: 0;
  margin-top: 0;
}

/*mac
#splash img {
  height: 750px;
  margin-top: -50px;
  float: left;
}
*/

#splash img {
  height: 550px;
  float: left;
  margin-left: 5%;
  z-index: -5;
}

#splash h3 {
  padding: 0;
  margin: 0;
  margin-left: 50%;
  font-weight: 300;
  padding-top: 250px;
  font-size: 50px;
  position: absolute;
}

#splash h2 {
  font-weight: 100;
  margin: 0;
  position: absolute;
  margin-left: 50%;
  padding-top: 310px;
}

#splash h4 {
  font-weight: 100;
  margin: 5px;
  font-size: 15px;
  position: absolute;
  margin-left: 50%;
  padding-top: 338px;
}

.emblem {
  padding-right: 10%;
  position: fixed;
  padding-left: 80%;
  z-index: 20;
}


.emblem a {
  float: right;
  font-weight: 100;
  font-size: 50px;
  color: #bca184;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 70px;
  width: 60px;
  text-align: center;
  box-shadow: 3px 2px 4px 3px #ccc;
  z-index: 20;
}


.emblem a:hover {
  color: #353f4f;
  transition: .5s;
}

/* NEXT SECTION */

#section2 {
  clear: both;
  margin-top: 300px;
}

.rightBox {
  clear:both;
  width: 500px;
  height: 300px;
  float: right;
  margin-right: 10%;
  margin-top: 90px;
  color: #000;
  background-color: #fff;
  box-shadow: 3px 3px 5px 2px #ccc;
  z-index: 99;
}


.rightBox h1 {
  font-weight: 100;
  text-align: center;
  color: #353f4f;
}

.rightBox img {
  height: 210px;
  float: left;
  padding-left: 20px;
  border-radius: 8px;

}

/*
.rightBox img:hover {
  opacity: 1;
  transition: .5s;
}
*/

.rightBox p {
  font-weight: 300;
  font-size: 30px;
  width: 300px;
  margin-top: 20px;
  margin-left: 170px;
  position: absolute;
  color: #bca184;
}

.leftBox {
  clear: both;
  width: 500px;
  height: 300px;
  float: left;
  margin-left: 10%;
  margin-top: 180px;
  margin-bottom: -100px;
  padding-bottom: -100px;
  box-shadow: 3px 3px 5px 2px #ccc;
  background-color: #fff;
  z-index: -1;
  position: absolute;
  margin-bottom: 100px;
}

.leftBox:hover {
  z-index: 10;
}

.leftBox h1 {
  font-weight: 100;
  padding-left: 15px;
  padding-top: 20px;
}

.leftBox p {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 150px;
  font-weight: 100;
  font-size: 14px;
}

/* NEXT SECTION */

#artist {
  clear: both;
}

#artist p {
  clear: both;
  text-align: center;
  font-weight: 400;
  position: absolute;
  margin-top: 200px;
  margin-left: 35%;
  font-size: 12px;
  line-height: 20px;
}

#artist h2 {
  clear: both;
  float: right;
  font-weight: 100;
  font-size: 90px;
  color: #91908f;
  margin-top: 32%;
  margin-right: 10%;
}

.featured h1 {
  position: absolute;
  font-weight: 100;
  margin-left: 45%;
  font-size: 60px;
  color: #bca184;
}

.featured h3 {
  position: absolute;
  font-weight: 100;
  margin-left: 47%;
  font-size: 25px;
  color: #bca184;
  margin-top: 20%;
}

.featured {
  clear: both;
  width: 500px;
  float: left;
  height: 200px;
  margin-right: 20%;
  margin-top: 32%;
  margin-bottom: -100px;
  padding-bottom: -100px;
  box-shadow: 3px 3px 5px 2px #ccc;
  background-color: #fff;
  z-index: -1;
  position: absolute;
  margin-bottom: 100px;
}

.featured img {
  height: 170px;
  padding-top: 15px;
  z-index: -2
}

/* NEXT SECTION */

#section3 {
  clear: both;
}

.aboutBox {
  clear: both;
  width: 500px;
  float: right;
  height: 680px;
  margin-top: 12%;
  margin-left: 45%;
  box-shadow: 3px 3px 5px 2px #ccc;
  background-color: #fcfcfc;
  z-index: -1;
  position: absolute;
  margin-bottom: 100px;
}

.aboutBox h1 {
  font-weight: 100;
  color: #bca184;
  text-align: center;
}

.aboutBox h3 {
  margin-top: 320px;
  margin-left: 45%;
  position: absolute;
  font-size: 60px;
  font-weight: 100;
  color: #bca184;
}

.aboutBox a {
  text-decoration: none;
  color: #bca184;
}

.aboutBox img {
  float: right;
  width: 430px;
  opacity: .8;
  padding-top: 50px;
}

#section3 h2 {
  clear: both;
  float: left;
  font-weight: 100;
  font-size: 90px;
  color: #91908f;
  margin-top: 32%;
  margin-left: 5%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

.col p {
  font-weight: 100;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

/*footer section*/

footer {
  clear: both;
  text-align: center;
  bottom: 0;
  height: 150px;
  margin-top: 90%;
}

footer h1 {
  font-weight: 100;
  font-size: 70px;
  color: grey;
  margin: 0;
  margin-bottom: 10px;
}

footer ul {
  display: inline;
  padding: 0;
}

footer li {
  display: inline-block;

}

footer a {
  text-decoration: none;
  color: #bca184;
  font-weight: 100;
  padding-right: 20px;
  font-size: 15px;
}

footer a:hover {
  color: grey;
  transition: .5s;
}
